:root{
    --headerTextColor : rgb(19, 19, 19);
    --paraTextColor : rgb(69, 69, 69);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
