{% extends 'base_template.html' %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_category.css') }}">
{% endblock %}
{% block title %}
    <title>Admin Dashboard</title>
{% endblock %}

{% block body %}
    <div id="app" user-id="{{admin}}">
        <nav-bar></nav-bar>
        <add-product></add-product>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename = 'js/components/add_category.js')}}"></script>
{% endblock %} 