{% extends 'base_template.html' %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_dashboard.css') }}">
    <script>
        function deleteWarning(){
            alert('You are trying to delete a category');
        }
        function deleteWarningProduct(){
            alert('You are trying to delete a product');
        }

        function insertInputBox(categoryName){
            console.log(categoryName);
            const div = document.getElementById(categoryName);
            div.innerHTML = `
            <input type="text" name = "newCategoryName" placeholder = "New Name" required style="width: 50%;">
            <input class="btn btn-outline-success py-0 px-2 mt-2" type = "submit" value="Submit" style="width: 50%;">
            `;
        }

        window.addEventListener('load', function(){
            const message = {{message|tojson}}; 
            console.log(message.length);
            if (message.length > 0){
                alert(message);
            }
        });
    </script>
{% endblock %}
{% block title %}
    <title>Admin Dashboard</title>
{% endblock %}

{% block body %}
    <div id="app" user-id="{{admin}}">
        <nav-bar></nav-bar>
        <hero-component></hero-component>
        <admin-aprroval></admin-aprroval>
        <main-dashboard-body></main-dashboard-body>
    </div>

    
    <script type="text/javascript" src="{{url_for('static', filename = 'js/components/admin_dashboard.js')}}"></script>
{% endblock %} 