{% extends 'base_template.html' %}
{% block css %} 
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='buy_product.css') }}">
    <script>
        function checkTotal(){
            const price = {{product_price|tojson}}; 
            const quantity = parseInt(document.getElementById('quantity').value); 
            if (isNaN(quantity) || (quantity == 0)){
                alert('enter quantity');
            }
            else{
                const total = price*quantity;
                document.getElementById('totalPrice').innerHTML = total;
            }
        }
    </script>
{% endblock %}
{% block title %}
    <title>Buy Product</title>
{% endblock %}

{% block body %}

<div id="app" user-id={{username}} product-name={{product_name}} product-price="{{product_price}}" max-limit="{{max_limit}}">
    <nav-bar></nav-bar>
    <buy-product></buy-product>
</div>

<script type="text/javascript" src="{{url_for('static', filename = 'js/components/buy_product.js')}}"></script>
{% endblock %} 