{% extends 'base_template.html' %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_login.css') }}">
{% endblock %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="form-container mt-5">
        <form action="/" method = "POST" id="userLoginForm">
            <h2>Log In</h2>
            <div class="my-3">
                <label for="email">Email-id</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="my-3">
                <label for="Password">Password</label>
                <input type="password" name="Password" id="Password" minlength="4" required>
            </div>
            <div class="button-container">
                <input type="submit" value="login" class="btn btn-primary btn-md">
                <a href="/signin" class="btn btn-secondary btn-md mx-3">
                    Sign In
                </a> 
            </div>
            <div class="message mt-2" style="color: red;">
                {{message}}
            </div>
        </form>
    </div>
{% endblock %} 